<!-- Header Start -->
<div class="container-fluid bg-primary  mb-5 page-header">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Manage Categories</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Add Category</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#"> Manage</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Service Start -->
<div class="container-xxl">
    <div class="container">

        <div class="row ">
            <div class="col-md h3">Categories List</div>
            <div class="col-md text-end">

                <button class="btn btn-outline-primary" routerLink="/admin/category/add">+ Add Category</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @for(category of categories ; track $index){
                <tr>
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{category.categoryName}}</td>
                    <td>
                        <a [href]="category.imageUrl" target="_blank">
                            <img [src]="category.imageUrl" class="responsive_img" alt="">
                        </a>
                    </td>
                    <td>{{category.description}}</td>
                    <td>{{category.createdAt | date}}</td>
                    <td>

                        <button class="btn btn-sm btn-outline-primary">Edit</button>
                        <button class="btn btn-sm btn-outline-danger">Delete</button>


                    </td>
                </tr>
                }



            </tbody>
        </table>
    </div>
</div>
<!-- Service End -->